@use "./_colors.scss" as colors;

button {
	padding: 10px 1rem;
	border: none;
	color: colors.$primary;
	font-weight: 600;

	&.primary-button {
		background-color: colors.$white;
		border: 2px solid colors.$primary;
	}

	&.secondary-button {
		background-color: colors.$secondary;
	}

	&.cancel-button {
		background-color: colors.$white;
		border: 2px solid colors.$warning;
	}
}

nav {
	height: min(10vh, 64px);
	justify-content: space-around;

	.link {
		color: colors.$gray;
		text-decoration: none;
		margin: 0 1em;

		&.active-link {
			color: colors.$primary;
			background-color: colors.$secondary;
		}
	}

	.avatar {
		border-radius: 50%;
		width: 32px;
		height: 32px;
		margin: 0 0 0 1em;
	}
}

footer {
	height: fit-content;
	min-height: 64px;
	flex-direction: column;
	justify-content: flex-end;

	a {
		padding-inline: 0.5rem;
	}

	.language {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 5px;
		margin-inline: 1rem;
	}

	@media screen and (min-width: 600px) {
		flex-direction: row;
	}
}

nav,
footer {
	display: flex;
	align-items: center;

	@media screen and (min-width: 600px) {
		justify-content: flex-end;
		margin-inline: 10%;
	}
}

.card {
	// border: 1px solid colors.$gray;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
	margin: 5px 0;
}

// Planning page

.planning {
	background-color: colors.$paper;

	.planning-filters {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: colors.$primary;

		select {
			color: colors.$primary;
			background: none;
			border: none;
			border-bottom: 1px solid colors.$primary;
			margin: 0.5rem;
		}

		@media screen and (min-width: 600px) {
			flex-direction: row;

			background: -webkit-linear-gradient(
				30deg,
				colors.$secondary 85%,
				transparent 85%
			);
		}
	}

	.planning-days {
		display: flex;
		justify-content: flex-end;
		align-content: flex-end;
		align-items: center;
		background: colors.$primary;
		color: colors.$gray;
		padding: 1rem 0;

		& div {
			background-color: colors.$white;
			padding-inline: 0.7rem;
			text-align: center;
			line-height: 0.9rem;

			p {
				margin: 0 5px;
				text-align: center;
				font-weight: 600;
				font-size: 1em;
			}

			small {
				font-size: 0.6rem;
			}

			&.active {
				background: colors.$secondary;
				color: colors.$primary;
			}
		}

		@media screen and (min-width: 600px) {
			justify-content: center;
			background: -webkit-linear-gradient(
				30deg,
				colors.$secondary 15%,
				colors.$primary 15%
			);

			& div {
				background-color: transparent;
				color: colors.$white;
				padding-inline: 2rem;

				&.active {
					background: -webkit-linear-gradient(
						15deg,
						transparent 15%,
						colors.$secondary 15%,
						colors.$secondary 85%,
						transparent 85%
					);
				}
			}
		}
	}

	.course-details {
		height: 4rem;

		p {
			margin: 0.1rem;
		}

		.course-image {
			grid-area: image;
		}
		.timing {
			grid-area: timing;
		}
		.duration {
			grid-area: duration;
		}
		.title {
			grid-area: title;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.button-message {
			grid-area: button-message;
		}
		.status-message {
			grid-area: status-message;
		}
		.button {
			grid-area: button;
		}

		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		grid-template-areas:
			"timing duration"
			"title  ."
			". button-message"
			"status-message button";

		@media screen and (min-width: 600px) {
			display: grid;
			grid-template-columns: 2fr 2fr 1fr 2fr 2fr 2fr 1fr;
			grid-template-areas: "image title timing duration status-message button";
			align-items: center;
			width: 100%;
			column-gap: 10px;
			margin-block: 1rem;

			.course-image {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

.pc-hidden {
	@media screen and (min-width: 600px) {
		display: none;
	}
}

.mobile-hidden {
	@media screen and (max-width: 600px) {
		display: none;
	}
}

.clickable {
	cursor: pointer;
}

// Dashboard

.dashboard {
	@media screen and (min-width: 600px) {
		margin-inline: 10%;
	}

	margin: 1rem;
	.announcement > div {
		margin: 5px;

		.read-ribbon {
			grid-area: read-ribbon;
			justify-self: left;
			color: colors.$warning;
			font-size: 2rem;

			&::before {
				content: "";
				display: block;
				width: 5px;
				height: 5px;
				background: colors.$warning;
				border-radius: 50%;
			}
		}
		.date {
			grid-area: date;
			color: colors.$gray;
			justify-self: right;
		}
		.title {
			grid-area: title;
		}
		.icon {
			grid-area: icon;
			justify-self: right;
		}

		display: grid;
		grid-template-rows: auto;
		grid-template-areas:
			"read-ribbon date"
			"title icon";
		grid-template-columns: 4fr 1fr;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media screen and (min-width: 600px) {
			.read-ribbon,
			.icon {
				justify-self: center;
			}

			grid-template-columns: 1fr 9fr 1fr 1fr;
			grid-template-areas: "read-ribbon title date icon";
		}
	}
}
